<div class="grid grid-cols-12 grid-rows-12 gap-4 h-full">
  <!-- Titre -->
  <div class="card col-span-12 row-span-1">
    <div class="card-body flex-row p-0 justify-center items-center">
      <h2 class="text-xl font-bold">Aléas du Jeudi 10 Juillet</h2>
    </div>
  </div>

  <!-- Cards Résumé -->
  <div class="card col-span-4 row-span-2 bg-base-100 border-base-300 border">
    <div class="card-body items-center">
      <h2 class="card-title">Aléas</h2>
      <div class="text-2xl text-primary font-bold">753 min</div>
    </div>
  </div>
  <div class="card col-span-4 row-span-2 bg-base-100 border-base-300 border">
    <div class="card-body items-center">
      <h2 class="card-title">Formation</h2>
      <div class="text-2xl text-primary font-bold">153 min</div>
    </div>
  </div>
  <div class="card col-span-4 row-span-2 bg-base-100 border-base-300 border">
    <div class="card-body items-center">
      <h2 class="card-title">Total</h2>
      <div class="text-2xl text-primary font-bold">906 min</div>
    </div>
  </div>

  <!-- Table -->
  <div class="card col-span-8 row-span-9 bg-base-100 border-base-300 border">
    <div class="card-body">
      <h2 class="card-title">Résumer des aléas</h2>
      <include href="aleas/partials/_table_aleas.html" />
    </div>
  </div>

  <!-- Graph -->
  <div class="card col-span-4 row-span-9 bg-base-100 border-base-300 border">
    <div class="card-body">
      <h2 class="card-title">Répartition</h2>
      <div class="h-48 md:h-64 flex items-center justify-center text-base-300 italic">Graphique à venir...</div>
    </div>
  </div>
</div>
