<div id="step2" class="card w-1/2 bg-base-100 shadow-xl hidden">
  <div class="card-body">
    <h2 class="card-title">Ajouter un nouvel aléa</h2>
    <!-- Steper -->
    <ul class="steps m-4">
      <li class="step step-primary">Item</li>
      <li class="step step-primary">Opérateur</li>
      <li class="step">Opération</li>
      <li class="step">Aléas</li>
      <li class="step">Origine</li>
      <li class="step">FNC</li>
      <li class="step">Commentaire</li>
    </ul>

    <div class="flex flex-col items-center justify-center gap-4 w-full">
      <label class="select" for="operateur">
        <span class="label">Opérateur</span>
        <select id="operateur" name="operateur">
          <option value="1">Justin</option>
          <option value="2">Germain</option>
        </select>
      </label>
    </div>

    <div class="card-actions justify-between m-4">
      <button type="button" class="btn btn-primary" onclick="previousStep();">Précédent</button>
      <button type="button" class="btn btn-primary" onclick="nextStep();">Suivant</button>
    </div>
  </div>
</div>
