<div id="step8" class="card w-1/2 bg-base-100 shadow-xl hidden">
  <div class="card-body">
    <h2 class="card-title">Ajouter un nouvel aléa</h2>
    <!-- Steper -->
    <ul class="steps m-4">
      <li class="step step-primary">Item</li>
      <li class="step step-primary">Opérateur</li>
      <li class="step step-primary">Référence</li>
      <li class="step step-primary">Opération</li>
      <li class="step step-primary">Aléas</li>
      <li class="step step-primary">Origine</li>
      <li class="step step-primary">FNC</li>
      <li class="step step-primary">Commentaire</li>
    </ul>

    <div class="flex flex-row items-center justify-center gap-4 w-full">
      <label class="input w-3/4">
        <span class="label">Commentaire</span>
        <input id="commentaire" name="commentaire" type="text" />
      </label>
    </div>

    <div class="card-actions justify-between m-4">
      <button type="button" class="btn btn-primary" onclick="previousStep();">Précédent</button>
      <button type="submit" class="btn btn-warning">Valider</button>
    </div>
  </div>
</div>
