<form method="get">
  <!-- Card 1 -->
  <include href="aleas/aleas_form_step1.html" />

  <!-- Card 2 -->
  <include href="aleas/aleas_form_step2.html" />

  <!-- Card 3 -->
  <include href="aleas/aleas_form_step3.html" />

  <!-- Card 4 -->
  <include href="aleas/aleas_form_step4.html" />

  <!-- Card 5 -->
  <include href="aleas/aleas_form_step5.html" />

  <!-- Card 6 -->
  <include href="aleas/aleas_form_step6.html" />

  <!-- Card 7 -->
  <include href="aleas/aleas_form_step7.html" />
</form>
<script>
  // Cangement de step
  let currentStep = 1;
  function getSelectedItem() {
    const selected = document.querySelector(`input[name="item"]:checked`);
    return selected ? selected.value : null;
  }

  function nextStep() {
    document.getElementById("step" + currentStep).classList.add("hidden");
    currentStep++;
    document.getElementById("step" + currentStep).classList.remove("hidden");
  }

  function previousStep() {
    document.getElementById("step" + currentStep).classList.add("hidden");
    currentStep--;
    document.getElementById("step" + currentStep).classList.remove("hidden");
  }

  function enableFNC() {
    const isChecked = document.getElementById("cb_fnc").checked;
    document.getElementById("no_fnc").disabled = !isChecked;
  }
</script>
