# Dépendances node
/node_modules/

# Dépendances PHP
/vendor/

# Fichiers compilés par Vite
/app/views/assets/css/build/

# Données de la base et grafana
/docker/bdd_data/
/docker/grafana
/docker/grafana_data


# Certificats 
# /docker/conf/certs/*.*

# Configs perso
# /docker/.env

# Fichier temporaires F3
/tmp/

# Fichier de log
/app/logs/

# Systèmes
.DS_Store
Thumbs.db

# Logs
*.log

.htaccess