@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style la table */
.listCraft-table {
  @apply min-w-full text-center  font-semibold border-collapse;
}

.listCraft-header {
  @apply bg-indigo-400 text-white text-xl select-none;
}

.listCraft-headers-cells {
  @apply py-3 px-6;
}


.listCraft-filter-column {
  @apply border rounded p-1 mt-2 w-full text-gray-600 text-sm;
}

/* Style du footer */
.listCraft-table-footer {
  @apply text-center;
  @apply p-4;
  @apply bg-indigo-400;
  @apply text-white;
  @apply border;
}

/* Définir une classe spécifique pour les lignes du tableau */
.listCraft-row {
  @apply even:bg-gray-50;
  @apply odd:bg-white;
  @apply hover:bg-blue-50;
  @apply border;
  @apply align-middle;
  @apply py-3 px-6;
}

.listCraft-empty-row {
  @apply even:bg-gray-50;
  @apply odd:bg-white;
  @apply border;
  @apply align-middle;
  @apply py-3 px-6;
}

.listCraft-noData-cell {
  @apply h-12;
  @apply align-middle;
  @apply font-semibold;
  @apply text-gray-400 uppercase;
}

.listCraft-footer-cell {
  @apply p-4 text-center;
}

.listCraft-footer-container {
  @apply flex items-center justify-between flex-row-reverse;
}

.listCraft-paginations-controls {
  @apply flex items-center  space-x-2;
}

.listCraft-pagination-buttons {
  @apply bg-blue-500 text-white mx-2 px-3 py-1 rounded disabled:opacity-50;
}

.listCraft-pagination-infos {
  @apply text-gray-600;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .slide-in-right {
    animation: slide-in-right 1s ease-out;
  }
}

.icon-home::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

