<!-- Content Admin -->
<div class="flex flex-col flex-1 min-h-0">
  <div class="card flex flex-col flex-1 min-h-0 bg-base-100 shadow-xl">
    <div class="card-body flex flex-col flex-1 min-h-0 p-3">
      <!-- Ligne haute : Titre + menu global -->
      <div class="flex justify-between items-center mb-4">
        <!-- Titre -->
        <div class="text-xl font-bold">Planning</div>

        <!-- Menu général -->
        <div>
          <button class="btn btn-sm" popovertarget="popover-menu-genral" style="anchor-name: --anchor-menu-general">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div
            class="dropdown dropdown-end text-sm font-normal w-36 rounded-box bg-base-100 shadow-sm"
            popover
            id="popover-menu-genral"
            style="position-anchor: --anchor-menu-general"
          >
            <div class="mx-2 my-2">
              <a class="btn btn-ghost btn-sm" hx-get="/modal/planning-add" hx-trigger="click" hx-target="#modalContainer" hx-swap="innerHTML">
                Ajouter au planning
              </a>
              <hr class="my-1" />
              <a class="btn btn-ghost btn-xs p-0 w-full rounded-none text-left" href="#" disabled>Exporter</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Bloc scrollable + pagination -->
      <div class="flex flex-col flex-1 min-h-0">
        <!-- Table -->
        <div id="planning" class="flex-1 flex flex-col min-h-0">
          <include href="/planning/partials/_planning_table.html" />
        </div>
      </div>
    </div>
  </div>

  <script>
  //   function openAjoutModal() {
  //     document.getElementById("ajoutForm").reset(); // Reset du form
  //     document.getElementById("type-select").dispatchEvent(new Event("change")); //Provoque le changement sur select type
  //     document.getElementById("ajoutModal").showModal();
  //   }

  //   function closeAjoutModal() {
  //     document.getElementById("ajoutModal").close();
  //   }

  //   function openEngagementModal(produit) {
  //     const produitHidden = document.querySelector('input[type="hidden"][name="produit"]');
  //     produitHidden.value = produit;
  //     document.getElementById("engagementModal").showModal();
  //   }

  //   function closeEngagementModal() {
  //     document.getElementById("engagementModal").close();
  //   }
  </script>
</div>
