<div id="indicateurs">
  <div class="grid grid-cols-2 gap-10 text-center text-2xl">
    <div class="border border-gray-300 rounded-xl p-2">
      <p class="text-lg">Jours sans incident</p>
      <p class="text-2xl text-green-600 font-bold" id="compteur">{{@daysSinceEnv}}</p>
    </div>
    <div class="border border-gray-300 rounded-xl p-2">
      <p class="text-lg">Record sans incident</p>
      <check if="{{@daysSinceEnv > @recordEnv.nb_jours}}">
        <true><p class="text-2xl text-blue-600 font-bold">{{@daysSinceEnv}}</p></true>
        <false><p class="text-2xl text-blue-600 font-bold">{{@recordEnv.nb_jours}}</p></false>
      </check>
    </div>
  </div>
</div>
