<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <include href="themes/base/partials/_head.html" />
  </head>

  <body class="bg-gray-100 dark:bg-gray-800 dark:text-gray-200 font-sans text-gray-800 h-full overflow-auto">
    <include href="/themes/base/components/toast/_toast.html" />
    <!-- Layout principal -->
    <div class="flex h-full">
      <!-- Sidebar -->
      <include href="themes/base/partials/_aside.html" />

      <!-- Contenu principal -->
      <main class="flex flex-col flex-1 min-h-0">
        <!-- Topbar -->
        <!-- {*<include href="themes/base/partials/_topbar.html" /> *}-->

        <!-- Main Content-->
        <div id="content" class="flex flex-col flex-1 min-h-0 p-4" hx-get="/alea" hx-swap="innerHTML" hx-trigger="load">
          <!-- FIXME pour debug chargment du planning -->
          <!-- contenu injecté ici -->
          
        </div>
      </main>
    </div>

    <!-- Modale -->
    <div id="modalContainer" hx-on::after-settle="this.querySelector('dialog')?.showModal()"></div>
  </body>
</html>
