<!DOCTYPE html>
<html lang="fr">
  <head>
    <include href="themes/base/partials/_head.html" />
  </head>
  <body>
    <div class="navbar flex justify-between bg-gray-700">
      <!-- <div class="flex-1"> -->
        <div class="flex-1 items-center m-4">
          <div class="flex items-center gap-4">
            <img src="{{@BASE}}/{{@UI}}/assets/img/gears.svg" width="50" alt="Logo GestProd" />
            <span class="text-xl sm:text-3xl font-semibold text-indigo-400">GESTPROD</span>
          </div>
          <span class="text-sm text-gray-500 text-center font-semibold italic">Gestion de production DEE</span>
        </div>
      <!-- </div> -->
      <div class="flex-none">
        <span class="test-xl text-white">12:00</span>
      </div>
    </div>
  </body>
</html>
</div>