<!-- Content Admin -->
<div class="grid grid-cols-6">
  <div class="card col-span-6 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-between card-title m-2">
        <span class="text-2xl">Planning</span>
        <i class="fa-solid fa-bars"></i>
      </div>
      <div id="planning">
        <include href="kpi-dashboard/partials/_planning_table.html" />
      </div>
    </div>
  </div>
</div>

<!-- Formulaire caché pour les filtres -->
<!-- <form></form> -->

<script>
  function getCheckedRefs() {
    const checked = document.querySelectorAll('#checkboxes-ref input[type="checkbox"]:checked');
    let vals = [];
    checked.forEach((cb) => {
      vals.push(cb.value);
    });
    console.log(vals);
    return vals;
  }

  function getCheckedType() {
    const checked = document.querySelectorAll('#checkboxes-types input[type="checkbox"]:checked');
    let vals = [];
    checked.forEach((cb) => {
      vals.push(cb.value);
    });
    console.log(vals);
    return vals;
  }
</script>
