<!-- Content Admin -->
<div class="grid grid-cols-6">
  <div class="card col-span-6 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-between card-title m-2">
        <span class="text-2xl">Planning</span>
        <i class="fa-solid fa-bars"></i>
      </div>
      <table class="table table-zebra border overflow-auto">
        <thead class="bg-slate-100">
          <th><label for="check_all"></label><input id="check_all" type="checkbox" class="checkbox checkbox-sm rounded-sm" /></th>
          <th>
            Référence
            <!-- change popover-1 and --anchor-1 names. Use unique names for each dropdown -->
            <button class="btn btn-ghost" popovertarget="popover-1" style="anchor-name: --anchor-1"><i class="fas fa-caret-down text-lg"></i></button>
            <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-1" style="position-anchor: --anchor-1">
              <li><a>Item 1</a></li>
              <li><a>Item 2</a></li>
            </ul>
          </th>
          <th>Type</th>
          <th>Numéro</th>
          <th>Semaine</th>
          <th>Engagement</th>
          <th>Prête</th>
          <th class=""></th>
        </thead>
        <tbody>
          <repeat group="{{@produits}}" value="{{@produit}}">
            <tr>
              <td>
                <label for="check_{{@produit._id}}"></label> <input id="check_{{@produit._id}}" type="checkbox" class="checkbox checkbox-sm rounded-sm" />
              </td>
              <td class="flex items-start space-x-2">
                <span style="background-color: {{@produit.reference_couleur}}" class="w-4 h-6 rounded-sm"> </span>
                <span>{{@produit.reference}}</span>
              </td>
              <td>{{@produit.type}}</td>
              <td>
                <check if="{{@produit.numero}}">
                  <true> {{@produit.numero}} </true>
                  <false><span class="italic">NC</span></false>
                </check>
              </td>
              <td>{{@produit.semaine}}</td>

              <td>
                <span
                  class="badge badge-outline badge-sm text-sm font-medium 
                          {{ 
                            (@produit.status=='Fait' ? 'badge-success' : 
                            (@produit.status=='Prévu' ? 'badge-info' : 
                            (@produit.status=='En Attente' ? 'badge-warning' : 
                            'badge-neutral' )))
                          }}"
                >
                  {{@produit.status}}
                </span>
              </td>
              <td class="text-xl">
                <check if="{{@produit.prete}}">
                  <true><i class="fa-solid fa-check text-success"></i></true>
                  <false>
                    <check if="{{@produit.status==='Prévu'}}">
                      <true><i class="fa-regular fa-hourglass-half text-info"></i></true>
                      <false><i class="fa-solid fa-xmark text-error"></i></false>
                    </check>
                  </false>
                </check>
              </td>
              <td><i class="fas fa-ellipsis-vertical"></i></td>
            </tr>
          </repeat>
        </tbody>
      </table>
    </div>
  </div>
</div>
