<dialog class="modal" hx-trigger="load" _="on load call me.showModal()">
  <div class="modal-box">
    <!-- <form hx-post="/kpi/securite/accident-save" hx-target="#calendar" hx-swap="innerHTML" class="space-y-4"> -->
    <form hx-post="/kpi/securite/accident-save" hx-ext="multi-swap" hx-swap="multi:#indicateurs,#calendar:outerHTML" class="space-y-4">
      <input type="hidden" name="date" value="{{@date}}" />

      <h2 class="text-2xl font-bold text-center text-indigo-700">Déclarer un Accident</h2>

      <div class="flex flex-col">
        <label class="text-sm mb-1 font-semibold">Blessé</label>
        <select name="fk_user_id" class="select select-bordered w-full">
          <repeat group="{{@users}}" value="{{@user}}">
            <check if="{{isset(@accident.fk_user_id) && @accident.fk_user_id===@user._id}}">
              <true><option value="{{@user._id}}" selected>{{@user.prenom|ucfirst}} {{@user.nom | strtoupper}}</option></true>
              <false><option value="{{@user._id}}">{{@user.prenom|ucfirst}} {{@user.nom | strtoupper}}</option></false>
            </check>
          </repeat>
        </select>
      </div>

      <div class="flex flex-col">
        <label class="text-sm mb-1 font-semibold">Sauveteur Secouriste</label>
        <select name="fk_sst_id" class="select select-bordered w-full">
          <repeat group="{{@ssts}}" value="{{@sst}}">
            <check if="{{isset(@accident.fk_sst_id) && @accident.fk_sst_id===@sst._id}}">
              <true><option value="{{@sst._id}}" selected>{{@sst.prenom|ucfirst}} {{@sst.nom | strtoupper}}</option></true>
              <false><option value="{{@sst._id}}">{{@sst.prenom|ucfirst}} {{@sst.nom | strtoupper}}</option></false>
            </check>
          </repeat>
        </select>
      </div>

      <div class="flex flex-col">
        <label class="text-sm mb-1 font-semibold">Zone</label>
        <select name="fk_operation_id" class="select select-bordered w-full">
          <repeat group="{{@@operations}}" value="{{@operation}}">
            <check if="{{isset(@accident.fk_operation_id) && @accident.fk_operation_id===@operation._id}}">
              <true><option value="{{@operation._id}}" selected>{{@operation.description}}</option></true>
              <false><option value="{{@operation._id}}">{{@operation.description}}</option></false>
            </check>
          </repeat>
        </select>
      </div>

      <div class="flex flex-col">
        <label class="text-sm mb-1 font-semibold">Description</label>
        <textarea name="description" class="textarea textarea-bordered w-full" required>{{@@accident.description}}</textarea>
      </div>

      <div class="flex flex-col">
        <label class="text-sm mb-1 font-semibold">Avec arrêt de travail</label>
        <select name="arret" class="select select-bordered w-full">
          <check if="{{@@accident.arret === 0}}">
            <true><option value="0" selected>Non</option></true>
            <false><option value="0">Non</option></false>
          </check>
          <check if="{{@@accident.arret === 1}}">
            <true><option value="1" selected>Oui</option></true>
            <false><option value="1">Oui</option></false>
          </check>
        </select>
      </div>

      <div class="flex justify-end gap-4 pt-6">
        <check if="{{isset(@accident.description)}}">
          <button
            type="button"
            class="btn bg-red-400 text-white"
            hx-post="/kpi/securite/accident-delete"
            hx-vals='{"date": "{{ @accident.date }}" }'
            hx-ext="multi-swap"
            hx-swap="multi:#indicateurs,#calendar:outerHTML"
            _="on click wait 0.5s then 
          set dialog to closest <dialog/> then call dialog.close()"
          >
            Supprimer
          </button>
        </check>
        <button type="button" class="btn" _="on click set dialog to closest <dialog/> then call dialog.close()">Annuler</button>
        <button
          type="submit"
          class="btn btn-primary"
          _="on click wait 0.5s then 
          set dialog to closest <dialog/> then call dialog.close()"
        >
          <check if="{{isset(@accident.description)}}">
            <true>Modifer</true>
            <false>Enregistrer</false>
          </check>
        </button>
      </div>
    </form>
  </div>
</dialog>
