<div id="calendar"  class="p-2">
  <div class="flex justify-center items-center text-center font-bold text-indigo-600 text-3xl mt-10 mb-4">
    <i
      class="fas fa-caret-left text-3xl mr-4 cursor-pointer"
      hx-get="/kpi/securite/{{ @calendar.prev_year }}/{{ @calendar.prev_month }}"
      hx-target="#calendar"
      hx-swap="innerHTML"
    ></i>

    {{ @calendar.month_name }} {{@calendar.year}}

    <i
      class="fas fa-caret-right text-3xl ml-4 cursor-pointer"
      hx-get="/kpi/securite/{{ @calendar.next_year }}/{{ @calendar.next_month }}"
      hx-target="#calendar"
      hx-swap="innerHTML"
    ></i>
  </div>

  <!-- En-tête jours de la semaine -->
  <div class="grid grid-cols-7 gap-2 text-lg text-center font-semibold mb-1">
    <div>Lun</div>
    <div>Mar</div>
    <div>Mer</div>
    <div>Jeu</div>
    <div>Ven</div>
    <div>Sam</div>
    <div>Dim</div>
  </div>

  <!-- Jours du calendrier sans bordure principale -->
  <div class="grid grid-cols-7 gap-2 text-center text-xl rounded-xl p-2">
    <repeat group="{{@calendar.days}}" value="{{@day}}">
      <check if="{{@day.nb}}">
        <false>
          <div class="select-none cursor-pointer p-3 rounded-xl font-semibold bg-transparent">&nbsp;</div>
        </false>
        <true>
          <!-- Maudit soit les ternaires imbriqué 😭😭😭-->
          <div
            class="select-none p-3 border border-gray-700 rounded-xl font-semibold text-gray-700
          {{ @day.at ? 'bg-red-200' : ( @day.aujourdhui ? 'bg-yellow-200' : ( @day.ferie || @day.ferme || !@day.work ? 'bg-gray-300' : 'bg-green-200' ) ) }}
          cursor-pointer"
            hx-get="/kpi/securite/accident-form/{{@calendar.year}}-{{sprintf('%02d', @calendar.month)}}-{{sprintf('%02d', @day.nb)}}"
            hx-target="#accident-modal"
            hx-swap="innerHTML"
          >
            {{@day.nb}}
          </div>
        </true>
      </check>
    </repeat>
  </div>
</div>
