<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="{{@BASE}}/{{@UI}}/assets/js/lib/htmx.min.js"></script>
    <script src="{{@BASE}}/{{@UI}}/assets/js/lib/_hyperscript.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css" />

    <!-- CSS Dev / Prod -->
    <check if="{{ @DEBUG == 3 }}">
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/app/views/assets/css/src/entry.js"></script>
      <false>
        <link rel="stylesheet" href="/app/views/assets/css/build/output.css" />
      </false>
    </check>
  </head>
  <body>
    <!-- Toast Conteneur-->
    <include href="/core/components/_toast.html">
      
    <h1 class="text-3xl text-indigo-500 font-bold">UTILISATEUR</h1>
    <a href="/logout">LOGOUT</a>
  </body>
</html>
