@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
  themes: all;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}


.alert {
  @apply shadow-md backdrop-blur-xs transition duration-300;
}

.alert-success {
  @apply bg-green-300/30 text-green-900;
}

.alert-error {
  @apply bg-red-300/30 text-red-900;
}

.alert-warming {
  @apply bg-yellow-300/30 text-yellow-900;
}

.alert-info {
  @apply bg-blue-300/30 text-blue-900;
}

.alert-close {
  @apply cursor-pointer hover:text-red-300;
}

@layer components {
  .checkbox-no-anim,
  .checkbox-no-anim::before,
  .checkbox-no-anim::after {
    @apply transition-none;
  }

  .checkbox-no-anim::before,
  .checkbox-no-anim::after {
    animation: none !important;
  }
}

@layer utilities {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}