<!-- Bouton d'ouverture -->
<!-- <button onclick="document.getElementById('ajoutModal').showModal()" class="btn btn-primary">Ajouter un alternateur</button> -->

<!-- Modale -->
<dialog id="ajoutModal" class="modal">
  <div class="modal-box w-11/12 max-w-2xl">
    <h3 class="font-bold text-2xl mb-4">Ajouter au planning</h3>

    <div method="dialog" class="space-y-4">
      <form id="ajoutForm" method="post" hx-post="/planning/produit/add" hx-target="#planning" hx-swap="innerHTML">
        <!-- Type -->
        <div>
          <label class="label"><span class="label-text font-semibold">Type</span></label>
          <select
            name="type"
            id="type-select"
            class="select select-bordered w-full"
            hx-get="/planning/partials/type/refs"
            hx-include="#type-select"
            hx-target="#reference-select"
            hx-trigger="change"
            required
          >
            <repeat group="{{@types}}" value="{{@type}}">
              <option value="{{@type._id}}">{{@type.designation}}</option>
            </repeat>
          </select>
        </div>

        <!-- Référence  -->
        <div>
          <label class="label"><span class="label-text font-semibold">Référence</span></label>
          <select name="reference" id="reference-select" class="select select-bordered w-full" required>
            <include href="/planning/partials/_planning_form_refs.html" />
          </select>
        </div>

        <!-- Semaine -->
        <div>
          <label class="label"><span class="label-text font-semibold">Semaine</span></label>
          <input name="semaine" type="week" class="input input-bordered w-full" value="" required />
        </div>

        <!-- Action -->
        <div class="modal-action">
          <button
            id="add_form_submit"
            type="submit"
            class="btn btn-primary w-full"
          >
            Ajouter
          </button>
        </div>
      </form>
    </div>

    <button onclick="document.getElementById('ajoutModal').close()" class="btn btn-sm btn-ghost absolute right-2 top-2">✕</button>
  </div>
</dialog>
