<dialog id="reportModal" class="modal modal-open">
  <div class="modal-box space-y-4">

    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="htmx.remove('#reportModal')">✕</button>

    <h3 class="text-2xl font-bold text-center uppercase">Reporter l’engagement</h3>

    <form
      hx-post="/planning/reporter"
      hx-target="#planning"
      hx-swap="innerHTML"
    >
      <input type="hidden" name="produit" value="{{@produit.id}}" />

      <div class="form-control">
        <label class="label" for="commentaire">
          <span class="label-text font-semibold">Raison du report</span>
        </label>
        <textarea name="commentaire" id="commentaire" class="textarea textarea-bordered w-full" required></textarea>
      </div>

      <div class="modal-action">
        <button type="submit" class="btn btn-warning w-full">Reporter</button>
      </div>
    </form>
  </div>
</dialog>
