<dialog id="engagementModal" class="modal modal-open">
  <div class="modal-box space-y-4">
    
    <!-- Bouton de fermeture -->
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="htmx.remove('#engagementModal')">✕</button>
    
    <!-- Titre -->
    <h3 class="text-2xl font-bold text-center uppercase">Engagement</h3>

    <!-- Formulaire -->
    <form 
      method="post"
      hx-post="/planning/engagement"
      hx-target="#planning"
      hx-swap="innerHTML"
    >
      <input type="hidden" name="produit" value="{{@produit.id}}" />

      <div class="form-control mb-4">
        <label for="semaine_engagee" class="label">Semaine d'engagement</label>
        <input 
          type="week" 
          name="semaine_engagee" 
          id="semaine_engagee"
          class="input input-bordered w-full" 
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-full">Enregistrer</button>
    </form>
  </div>
</dialog>
