<div class="grid lg:grid-cols-3 gap-6">
  <div class="col-span-3 card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Sorties</h2>
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Jours</th>
              <th>Semaine</th>
              <th>Rotors</th>
              <th>Stators</th>
              <th>Stators_ST</th>
              <th>Paliers</th>
              <th>ALternateurs</th>
            </tr>
          </thead>
          <tbody>
            <repeat group="{{@sorties}}" value="{{@sortie}}">
              <tr>
                <td>{{@sortie.date}}</td>
                <td>{{@sortie.semaine}}</td>
                <td>{{@sortie.rotor}}</td>
                <td>{{@sortie.stator}}</td>
                <td>{{@sortie.stator_st}}</td>
                <td>{{@sortie.palier}}</td>
                <td>{{@sortie.alternateur}}</td>
              </tr>
            </repeat>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-span-3 card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Sorties</h2>
      <div id="sorties-chart" class="w-full"></div>
    </div>
  </div>

  <script>
    var options = {
      series: [
        {
          name: "Rotors",
          data: [2, 4, 1, 1, 5],
        },
        {
          name: "Stators",
          data: [2, 4, 1, 1, 5],
        },
        {
          name: "Stators_ST",
          data: [2, 4, 1, 1, 5],
        },
        {
          name: "Paliers",
          data: [2, 4, 1, 1, 5],
        },
        {
          name: "Alternateurs",
          data: [2, 4, 1, 1, 5],
        },
      ],
      chart: {
        type: "bar",
        height: "600",
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: "80%",
          borderRadius: 5,
          borderRadiusApplication: "end",
        },
      },
      dataLabels: {
        enabled: true,
        style: {
          fontSize: "36px",
        },
      },
      legend: {
        fontSize: "24px",
        markers: {
          size: "16px",
          shape: "circle",
        },
      },
      xaxis: {
        categories: ["Lun", "Mar", "Mer", "Jeu", "Ven"],
        labels: {
          style: {
            fontSize: "24px",
          },
        },
      },
      yaxis: {
        labels :{
          style: {
            fontSize : "24px"
          }
        }
      },
    };

    var chart = new ApexCharts(document.querySelector("#sorties-chart"), options);
    chart.render();
  </script>
</div>
