<dialog id="absence_modal" class="modal">
  <div class="modal-box w-full max-w-fit">
    <h3 class="font-bold text-lg mb-4">Déclaration : absents & heures supplémentaires</h3>

    <form>
      <!-- Date -->
      <label class="form-control w-full mb-4">
        <span class="label-text">Date</span>
        <input type="date" name="date" class="input input-bordered" required />
      </label>

      <!-- Options -->
      <div class="flex items-center justify-between mb-4">
        <!-- Recherche -->
        <label class="form-control w-1/2">
          <span class="label-text">Recherche opérateur</span>
          <input type="text" placeholder="Ex : Jean..." class="input input-bordered w-full" oninput="filterTableRows(this.value)" />
        </label>

        <!-- Case vendredi complet -->
        <label class="cursor-pointer flex items-center gap-2">
          <input type="checkbox" class="checkbox checkbox-primary" id="vendredi-hs" onchange="applyVendrediHS(this.checked)" />
          <span>Vendredi complet (4.75 h)</span>
        </label>
      </div>

      <!-- Liste utilisateurs -->
      <div class="overflow-x-auto max-h-72 overflow-y-auto">
        <table class="table table-sm table-zebra w-full" id="presence-table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Absent ?</th>
              <th>Retard (min)</th>
              <th>Heures Supplémentaires</th>
            </tr>
          </thead>
          <tbody>
            <repeat group="{{@users}}" value="{{@user}}">
              <tr>
                <td class="text-center">{{@user.prenom | ucfirst}} {{@user.nom | strtoupper}}</td>
                <td>
                  <div class="flex items-center justify-center gap-4">
                    <input type="checkbox" class="checkbox checkbox-error" />
                    <select class="select select-bordered select-sm text-center w-48 focus:outline-hidden">
                      <option>CP</option>
                      <option>Congés sans solde</option>
                      <option>Maladie</option>
                      <option>Formation</option>
                    </select>
                  </div>
                </td>
                <td class="">
                  <div class="flex items-center justify-center gap-2">
                    <input type="checkbox" class="checkbox checkbox-warning" />
                    <input type="number" class="input input-bordered input-sm w-48 focus:outline-hidden" />
                  </div>
                </td>
                <td>
                  <div class="flex items-center justify-center gap-2">
                    <input type="checkbox" class="checkbox checkbox-info" />
                    <input type="number" class="input input-bordered input-sm w-48 focus:outline-hidden" />
                  </div>
                </td>
              </tr>
            </repeat>
          </tbody>
        </table>
      </div>

      <!-- Actions -->
      <div class="modal-action mt-4">
        <button class="btn btn-primary" type="submit">Enregistrer</button>
        <button class="btn" type="button" _="on click absence_modal.close()">Annuler</button>
      </div>
    </form>
  </div>
</dialog>
