
  <button class="btn btn-sm btn-primary mb-4" hx-get="/user/create-form" hx-target="#modal" hx-swap="innerHTML">➕ Ajouter un utilisateur</button>
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Nom d'utlisateur</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <repeat group="{{ @users }}" value="{{ @user }}" counter="{{ @i }}">
          <tr id="user-row-{{ @user._id }}">
            <td>{{ @i }}</td>
            <td>{{ @user.prenom | ucfirst }} {{ @user.nom | strtoupper}}</td>
            <td>{{ @user.username | strtoupper}}</td>
            <td>
              <span class="badge badge-outline badge-sm"> {{ @user.role ?: 'non défini' }} </span>
            </td>
            <td>
              <div class="flex gap-1">
                <button class="btn btn-xs btn-outline btn-info">Modifier</button>
                <button hx-get="/user/{{ @user._id }}/confirm-delete" hx-target="#modal" hx-swap="innerHTML" class="btn btn-xs btn-outline btn-error">Supprimer</button>
              </div>
            </td>
          </tr>
        </repeat>
      </tbody>
    </table>
  </div>
</div>
