<div class="flex flex-col h-full w-full">
  <div class="flex-grow bg-base-100 shadow-xl rounded-lg p-6">
    <div id="chartEngagementType" class="h-full w-full"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const series = [
      {
        data: [
          {
            x: "Produits Electriques",
            y: 5,
            fillColor:'#3ABFF8',
            goals: [
              {
                name: "Objectif",
                value: 5,
                strokeHeight: 5,
                strokeColor: "#775DD0",
              },
            ],
          },
          {
            x: "Compresseurs",
            y: 2,
            fillColor:'#FBBD23',
            goals: [
              {
                name: "Objectif",
                value: 3,
                strokeHeight: 5,
                strokeColor: "#775DD0",
              },
            ],
          },
          {
            x: "Alternateurs",
            y: 10,
            fillColor:'#F87272',
            goals: [
              {
                name: "Objectif",
                value: 35,
                strokeHeight: 5,
                strokeColor: "#775DD0",
              },
            ],
          },
          {
            x: "Total",
            y: 17,
            fillColor:'#36d399',
            goals: [
              {
                name: "Objectif",
                value: 43,
                strokeHeight: 5,
                strokeColor: "#775DD0",
              },
            ],
          },
        ],
      },
    ];

    const annotations = {
      points: [
        {
          x: "Produits Electriques",
          y: 5,
          marker: {
            size: 0, // cache le marker
          },
          label: {
            text: 5, //text du but a cacher en php
            style: {
              color: "#775DD0",
              background: "#fff", // Fond blanc pour être bien visible
              fontSize: "20px",
              fontWeight: 'bold',
            },
          },
        },
        {
          x: "Compresseurs",
          y: 3,
          marker: {
            size: 0, // cache le marker
          },
          label: {
            text: 3, //text du but a cacher en php
            style: {
              color: "#775DD0",
              background: "#fff", // Fond blanc pour être bien visible
              fontSize: "20px",
              fontWeight: 'bold',
            },
          },
        },
        {
          x: "Alternateurs",
          y: 35,
          marker: {
            size: 0, // cache le marker
          },
          label: {
            text: 35, //text du but a genrer en php
            style: {
              color: "#775DD0",
              background: "#fff", // Fond blanc pour être bien visible
              fontSize: "20px",
              fontWeight: 'bold',
            },
          },
        },
        {
          x: "Total",
          y: 43,
          marker: {
            size: 0, // cache le marker
          },
          label: {
            text: 43, //text du but a genrer en php
            style: {
              color: "#775DD0",
              background: "#fff", // Fond blanc pour être bien visible
              fontSize: "20px",
              fontWeight: 'bold',
            },
          },
        },
      ],
    };

    const optionsEngagementType = {
      annotations: annotations,
      chart: {
        type: "bar",
        height: "100%",
        width: "100%",
        toolbar: {
          show: false,
        },
      },
      plotOptions: {
        bar: {
          columnWidth: "50%",
          borderRadius: 4,
          distributed: false,
          borderRadiusApplication: "end",
          hideZeroBarsWhenGrouped: true,
        },
      },

      noData: {
        text: "Chargement ...",
        fontSize: "24px",
      },
      title: {
        text: "Engagement Semaine 23 - 43 Produits",
        align: "center",
        style: {
          fontSize: "22px",
          color: "#4B4B4B",
          fontWeight: "bold",
        },
      },
      subtitle: {
        text: "Détails par type",
        align: "center",
        style: {
          fontSize: "18px",
          color: "#666",
        },
      },
      dataLabels: {
        enabled: true,
        formatter: function (val, opt) {
          if (val >= 1) {
            return val;
          }
          return;
        },
        style: {
          fontSize: "24px",
          fontFamily: "Helvetica, Arial, sans-serif",
          fontWeight: "bold",
          colors: [
          ],
        },
      },
      series: series,
      xaxis: {
        type: "category",
        labels: {
          // rotate :45,
          // rotateAlways: true,
          style: {
            colors: "#333", // Couleur des étiquettes
            fontSize: "18px", // Taille de la police
            fontWeight: "bold",
          },
        },
      },
      yaxis: {
        min: 0,
        max: 37,
        labels: {
          style: {
            colors: "#333",
            fontSize: "20px",
            fontWeight: "bold",
          },
          formatter: function (val, index) {
            return val.toFixed(0);
          },
        },
        stepSize: 4,
      },
    };

    // Fonction pour calculer la luminance d'une couleur
    function getLuminance(hex) {
      var r = parseInt(hex.substr(1, 2), 16) / 255;
      var g = parseInt(hex.substr(3, 2), 16) / 255;
      var b = parseInt(hex.substr(5, 2), 16) / 255;
      var luminance = 0.2126 * r + 0.7152 * g + 0.0722 * b;
      return luminance;
    }

    const chartEngagementType = new ApexCharts(document.querySelector(`#chartEngagementType`), optionsEngagementType);
    chartEngagementType.render();
    // const now = new Date();
    // const week = dateFns.format(now, "RRRR-II");
    // fetch(`/kpi/engagement/{{@week}}`)
    //   .then((response) => response.json())
    //   .then((data) => {
    //     chartEngagement.updateOptions({
    //       title: { text: data.title.text },
    //       plotOptions: { bar: { columnWidth: data.barWidth } },
    //       series: data.series,
    //       annotations: data.annotations,
    //     });
    //   })
    //   .catch((error) => {
    //     console.error("Erreur lors du chargement des données :", error);
    //   });
  });
</script>
