<div class="flex flex-col min-h-0 h-full w-full">
  <div class="flex-grow min-h-0 bg-base-100 shadow-xl rounded-lg p-6">
    <div class="flex h-full w-full">
      <div id="chartEngagementMois" class="h-full w-3/4"></div>
      <div id="chartEngagementMoisTotal" class="h-full w-1/4"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const options = {
      chart: {
        type: "bar",
        height: "100%",
        toolbar: { show: true },
      },
      title: {
        text: "Engagement vs Production — Avril 2025",
        align: "center",
        style: {
          fontSize: "22px",
          color: "#4B4B4B",
          fontWeight: "bold",
        },
      },
      subtitle: {
        text: "Détails par référence",
        align: "center",
        style: {
          fontSize: "18px",
          color: "#666",
        },
      },
      series: [
        {
          name: "Engagement",
          data: [16, 16, 12, 4, 4, 3, 2, 1, 1],
        },
        {
          name: "Production",
          data: [16, 16, 11, 4, 4, 3, 2, 1, 1],
        },
      ],
      xaxis: {
        categories: [
          "AB100L100V2",
          "AS280L240-28V10",
          "AS280M140V2",
          "AS250M150V3",
          "AS250L250V2",
          "AS250M150V9",
          "AB250M150V2",
          "AS280L240-28V9",
          "AS250L150V3",
        ],

        labels: {
          rotate: -45,
          style: {
            colors: [],
            fontSize: "16px",
            fontFamily: "Helvetica, Arial, sans-serif",
            fontWeight: 800,
            cssClass: "apexcharts-xaxis-label",
          },
        },
      },
      plotOptions: {
        bar: {
          columnWidth: "50%",
          borderRadius: 2,
          dataLabels: {
            position: "center",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetY: 0,
        style: {
          fontSize: "18px",
          fontWeight: "bold",
          colors: ["#000"],
        },
      },
      tooltip: {
        y: {
          formatter: (val) => `${val} machines`,
        },
      },
      colors: ["#3b82f6", "#22c55e"], // bleu & vert
      legend: {
        position: "bottom",
        fontWeight: 800,
        fontSize: "18px",
      },
    };

    // Fonction pour calculer la luminance d'une couleur
    function getLuminance(hex) {
      var r = parseInt(hex.substr(1, 2), 16) / 255;
      var g = parseInt(hex.substr(3, 2), 16) / 255;
      var b = parseInt(hex.substr(5, 2), 16) / 255;
      var luminance = 0.2126 * r + 0.7152 * g + 0.0722 * b;
      return luminance;
    }

    const chartEngagement = new ApexCharts(document.querySelector(`#chartEngagementMois`), options);
    chartEngagement.render();

    const optionsTotal = {
      chart: {
        type: "bar",
        height: "100%",
        toolbar: { show: true },
      },
      title: {
        text: "Engagement vs Production — Avril 2025",
        align: "center",
        style: {
          fontSize: "22px",
          color: "#4B4B4B",
          fontWeight: "bold",
        },
      },
      subtitle: {
        text: "Détails par référence",
        align: "center",
        style: {
          fontSize: "18px",
          color: "#666",
        },
      },
      series: [
        {
          name: "Engagement",
          data: [74],
        },
        {
          name: "Production",
          data: [73],
        },
      ],
      xaxis: {
        categories: [
          "Total"
        ],

        labels: {
          rotate: -45,
          style: {
            colors: [],
            fontSize: "16px",
            fontFamily: "Helvetica, Arial, sans-serif",
            fontWeight: 800,
            cssClass: "apexcharts-xaxis-label",
          },
        },
      },
      plotOptions: {
        bar: {
          columnWidth: "25%",
          borderRadius: 2,
          dataLabels: {
            position: "top",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetY: -25,
        style: {
          fontSize: "18px",
          fontWeight: "bold",
          colors: ["#000"],
        },
      },
      tooltip: {
        y: {
          formatter: (val) => `${val} machines`,
        },
      },
      colors: ["#3b82f6", "#22c55e"], // bleu & vert
      legend: {
        position: "bottom",
        fontWeight: 800,
        fontSize: "18px",
      },
    };

    // Fonction pour calculer la luminance d'une couleur
    function getLuminance(hex) {
      var r = parseInt(hex.substr(1, 2), 16) / 255;
      var g = parseInt(hex.substr(3, 2), 16) / 255;
      var b = parseInt(hex.substr(5, 2), 16) / 255;
      var luminance = 0.2126 * r + 0.7152 * g + 0.0722 * b;
      return luminance;
    }

    const chartEngagementTotal = new ApexCharts(document.querySelector(`#chartEngagementMoisTotal`), optionsTotal);
    chartEngagementTotal.render();
  });
</script>
