<aside class="w-72 bg-gray-700 shadow-md hidden md:block pb-6 px-4">
  <div>
    <div class="flex flex-col items-center m-4">
      <div class="flex items-center gap-4">
        <img src="{{@BASE}}/{{@UI}}/assets/img/gears.svg" width="70" alt="Logo GestProd" />
        <span class="text-2xl sm:text-3xl font-semibold text-indigo-400">GESTPROD</span>
      </div>
      <span class="text-base text-gray-500 text-center font-semibold italic">Gestion de production DEE</span>
    </div>
  </div>

  <nav>
    <ul class="space-y-2 text-white">
      <!-- Séparateur -->
      <li><hr class="border-t border-gray-500 mb-2" /></li>
      <li class="flex items-center justify-around gap-4 w-full py-2">
        <a href="/" class="text-gray-500 hover:text-indigo-500 text-xl" title="Notification">
          <i class="fas fa-home"></i>
        </a>
        <a href="#" class="text-gray-500 hover:text-indigo-500 text-xl" title="Paramètres" hx-get="/user/parametres" hx-target="body" hx-swap="beforeend">
          <i class="fas fa-cog"></i>
        </a>
        <a href="/logout" class="text-gray-500 hover:text-indigo-500 text-xl"  title="Déconnexion">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>

      <!-- Séparateur -->
      <li><hr class="border-t border-gray-500 my-2" /></li>
      <li><a href="/users" hx-get="/users" hx-target="#content" class="btn btn-ghost"> Utilisateurs </a></li>

      <li><a href="/sorties" hx-get="/sorties" hx-target="#content" class="btn btn-ghost"> Kpi-Sorties </a></li>


      <li><a href="/users/dashboard" hx-get="/users/dashboard" hx-target="#content" class="btn btn-ghost"> Utilisateurs - Dashboard</a></li>

      <li><a href="/sorties" hx-get="/sorties" hx-target="#content" class="btn btn-ghost"> Kpi-Sorties </a></li>

    </ul>
  </nav>
</aside>
