<aside class="w-72 bg-gray-700 shadow-md hidden md:block pb-6 px-4">
  <div>
    <div class="flex flex-col items-center m-4">
      <div class="flex items-center gap-4">
        <img src="{{@BASE}}/{{@UI}}/assets/img/gears.svg" width="70" alt="Logo GestProd" />
        <span class="text-2xl sm:text-3xl font-semibold text-indigo-400">GESTPROD</span>
      </div>
      <span class="text-base text-gray-500 text-center font-semibold italic">Gestion de production DEE</span>
    </div>
  </div>

  <!-- Menu -->
  <div id="aside_menu">{{@aside_menu|raw}}</div>
</aside>

<script></script>
