<nav>
  <ul class="space-y-2 text-white" hx-ext="multi-swap">
    <!-- Séparateur -->
    <li><hr class="border-t border-gray-500 mb-2" /></li>
    <li class="flex items-center justify-around gap-4 w-full py-2">
      <a
        href="/accueil-partials"
        hx-get="/accueil-partials"
        hx-swap="multi:#aside_menu,#content:outerHTML"
        class="text-gray-500 hover:text-indigo-500 text-xl"
        title="Acceuil"
      >
        <i class="fas fa-home"></i>
      </a>
      <a href="#" class="text-gray-500 hover:text-indigo-500 text-xl" title="{{@user.prenom | ucfirst}} - Paramètres" hx-get="/user/parametres" hx-target="body" hx-swap="beforeend">
        <i class="fa-solid fa-user"></i>
      </a>
      <a href="/logout" class="text-gray-500 hover:text-indigo-500 text-xl" title="Déconnexion">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>

    <!-- Séparateur -->
    <li><hr class="border-t border-gray-500 my-2" /></li>
    <check if="{{ @user.role=='admin' }}">
      <li><a href="/admin/users/dashboard" hx-get="/admin/users/dashboard" hx-target="#content" class="btn btn-ghost">Utilisateurs</a></li>
      <!-- <li><hr class="border-t border-gray-500 my-2" /></li> -->
      <li><a href="/admin/planning/dashboard" hx-get="/admin/planning/dashboard" hx-target="#content" class="btn btn-ghost">Planning</a></li>
      <li><hr class="border-t border-gray-500 my-2" /></li>
      <li><a href="/kpi/securite" hx-get="/kpi/securite" hx-target="#content" class="btn btn-ghost">Sécurité</a></li>
      <li><hr class="border-t border-gray-500 my-2" /></li>
    </check>
    <!-- Séparateur -->

    <li><a href="/public/dashboard" target="_blank" class="btn btn-ghost">KPI public</a></li>
    <!-- Séparateur -->
    <!-- <li><hr class="border-t border-gray-500 my-2" /></li>
    <li><a href="/test" hx-get="/test"  hx-target="#content" class="btn btn-ghost">/test</a></li> -->
  </ul>
</nav>
