

  <!-- Environement -->
  <div class="bg-white p-2 ml-6 my-6 rounded-xl shadow-2xl w-full max-w-3xl mx-auto  border  border-gray-300">
    <h1 class="text-3xl font-extrabold text-center bg-green-600 text-white py-4 rounded-xl mb-4 tracking-widest">
      ENVIRONEMENT
    </h1>

    <!-- Indicateurs séparés -->
    <div id="indicateurs_env">
      <include href="/kpi-environnement/partials/_indicateurs_env.html" />
    </div>

    <div id="calendar_env" class="">
      <include href="/kpi-environnement/partials/_calendar_env.html" />
    </div>

    <!-- Légende -->
    <div class="flex justify-center items-center gap-1   border border-gray-300 rounded-xl px-4">
      <!-- <div class="flex items-center gap-1 my-2">
        <div class="w-6 h-6 bg-amber-200 border border-gray-500 rounded"></div>
        Jour encours
      </div> -->
      <div class="flex items-center gap-2 m-2">
        <div class="w-6 h-6 bg-green-200 border border-gray-500 rounded"></div>
        Jour sans Incident
      </div>
      <div class="flex items-center gap-2 m-2">
        <div class="w-6 h-6 bg-red-300 border border-gray-500 rounded"></div>
        Jour avec Incident
      </div>
      <div class="flex items-center gap-2 m-2">
        <div class="w-6 h-6 bg-gray-300 border border-gray-500 rounded"></div>
        Non travaillé
      </div>
    </div>
    <div class="font-semibold text-center">Incident = Déversement, Départ de feu, Fuite...</div>
  </div>

  <!-- Modale pour les accidents du travail -->
  <!-- <div id="incident-modal"></div> -->