<th>
  <label for="check_all"></label>
  <input
    disabled
    id="check_all"
    type="checkbox"
    _="on change
            for el in document.querySelectorAll('input[name=select[]]')
              set el.checked to me.checked
            call updateBulkBar()"
  />
</th>
<th>#</th>
<th>Référence <include href="/planning/partials/planning-table/_filter.html" with="col='reference'"/></th>
<th>Type <include href="/planning/partials/planning-table/_filter.html" with="col='type'"/></th>
<th>Numéro <include href="/planning/partials/planning-table/_filter.html" with="col='numero'"/></th>
<th>Semaine</th>
<th>Semaine Engagement</th>
<th>Engagement</th>
<th>Prête ?</th>
<th></th>


