<!-- Dropdown -->
<button
  type="button"
  class="btn btn-ghost"
  popovertarget="popover-menu-{{@produit._id}}"
  style="anchor-name: '--menu-{{@produit._id}}'"
  onclick="document.querySelector('#menu_tab_{{@produit._id}}').checked = true;"
>
  <i class="fas fa-ellipsis-vertical"></i>
</button>
<div
  class="dropdown dropdown-left dropdown-center w-64 max-w-full rounded-box bg-base-100 shadow p-0 overflow-hidden"
  popover
  id="popover-menu-{{@produit._id}}"
  style="position-anchor: '--menu-{{@produit._id}}'"
>
  <!-- Onglets -->
  <div class="tabs-bordered tabs w-64">
    <input type="hidden" id="produit-{{@produit._id}}" name="produit-{{@produit._id}}" value="{{@produit._id}}" />
    <!-- Edition rapide -->
    <input type="radio" id="menu_tab_{{@produit._id}}" name="menu_tab_{{@produit._id}}" class="tab" aria-label="Edition rapide" checked />
    <div class="tab-content p-2">
      <div class="flex h-[90px] flex-col justify-between gap-2">
        <div class="flex flex-col gap-2">
          <!-- Numero  -->
          <input 
          type="number" id="numero-{{@produit._id}}" 
          name="numero-{{@produit._id}}" 
          class="input-bordered input input-xs focus:outline-none focus:ring-0 no-spinner w-full" 
          placeholder="Numéro" 
          hx-trigger="input changed delay:500ms"
          hx-post="/planning/check-numero"
          hx-params="numero-{{@produit._id}}"
          hx-target="#numero-{{@produit._id}}"
          hx-swap="none"
          disabled/>
          <!-- Pret  -->
          <label class="flex items-center gap-2">
            <input type="checkbox" id="pret-{{@produit._id}}" name="pret-{{@produit._id}}"
            onclick="toggleFields(['numero','report'],'{{@produit._id}}');" class="checkbox checkbox-xs rounded-xs checkbox-primary" 
             />
            <span>Prête ?</span>
          </label>
        </div>
        <!-- Enregistrer -->
        <div class="flex justify-end">
          <button
            type="button"
            id="save-{{@produit._id}}"
            hx-post="/planning/engagement"
            hx-swap="innerHTML"
            hx-target="#planning"
            hx-include="#numero-{{@produit._id}},#pret-{{@produit._id}},#produit-{{@produit._id}},#filter-pret"
            class="btn mt-auto mr-3 mb-3 w-1/4 btn-xs btn-primary"
            disabled
          >
            Enregistrer
          </button>
        </div>
      </div>
    </div>

    <!-- Engagement -->
    <input type="radio" name="menu_tab_{{@produit._id}}" class="tab" aria-label="Engagement" />
    <div class="tab-content p-2">
      <div class="flex h-[90px] flex-col justify-between gap-2">
        <div class="flex flex-col gap-2">
          <!-- Semaine  -->
          <input type="week" id="semaine-{{@produit._id}}" name="semaine-{{@produit._id}}" min="{{@now_iso}}" class="input-bordered input input-xs w-full" 
          onchange="enableFields(['engage'],'{{@produit._id}}');" {{ @produit.semaine_engagement ? 'disabled' : '' }}/>
          <!-- Report  -->
          <label class="flex items-center gap-2">
            <input type="checkbox" id="report-{{@produit._id}}" name="report-{{@produit._id}}" class="checkbox checkbox-xs rounded-xs checkbox-warning"
            onclick="toggleFields(['engage','save','pret'],'{{@produit._id}}');" {{ @produit.semaine_engagement ? '' : 'disabled' }}/>
            <span>Reporté</span>
          </label>
        </div>
        <!-- Enregistrer  -->
        <div class="flex justify-end">
          <button
            type="button"
            id="engage-{{@produit._id}}"
            hx-post="/planning/engagement"
            hx-swap="innerHTML"
            hx-target="#planning"
            hx-include="#semaine-{{@produit._id}}, #report-{{@produit._id}},#produit-{{@produit._id}},#filter-pret"
            onclick="closeMenu('{{@produit._id}}');"
            class="btn mt-auto mr-3 mb-3 w-1/4 btn-xs btn-primary"
            {{ @produit.status == 'Prévisionel' ? '' : 'disabled' }}
          >
            Enregistrer
        </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleFields(types, produit) {
    types.forEach((type) => {
      const el = document.getElementById(`${type}-${produit}`);
      el.disabled = !el.disabled;
      if (el.type === "checkbox" && el.disabled && el.checked) {
        el.checked = false;
      }
    });
  }

  function enableFields(types, produit) {    
    types.forEach((type) => {    
      const el = document.getElementById(`${type}-${produit}`);
      if (el) {
      el.disabled = false;
     } 
    });
  }

  function disableFields(types, produit) {    
    types.forEach((type) => {
      const el = document.getElementById(`${type}-${produit}`);
      if (el) {
        el.disabled = true;
     } 
    });
  }

  function closeMenu(produit) {
    const el = document.getElementById(`popover-menu-${produit}`);
    el.hidePopover();
  }

  function checkNumero(produit) {
  const numeroInput = document.getElementById(`numero-${produit}`);
  const value = numeroInput?.value.trim();

  if (value) {
    enableFields(['pret', 'save'], produit);
  } else {
    disableFields(['pret', 'save'], produit);
  }
}

document.body.addEventListener('htmx:afterOnLoad', function(evt) {
    const xhr = evt.detail.xhr;
    const url = xhr.responseURL;
    let response;

    if (!url.includes('/planning/check-numero')) return; 
    try {
        response = JSON.parse(xhr.responseText);
    } catch (e) {
        console.warn("Réponse non JSON de check-numero");
        return;
    }

    const input = evt.target;
    const produitId = input.id.split('-')[1]; //recup de l'id produit
    
    if (response.unique === false) {
        input.classList.add('border-red-500'); // ou 'is-invalid', selon ton CSS
        disableFields(['save','pret'],produitId);
    } else {
        input.classList.remove('border-red-500');
        enableFields(['save','pret'],produitId);
    }
});
</script>
