
    <!-- Début : Création des lignes  -->
    <repeat group="{{@produits}}" value="{{@produit}}" counter="{{@i}}">
      <tr class="hover:bg-success/10">
        <!-- Checkbox -->
        <!-- <td><label for="check_{{@produit._id}}"></label> <input id="check_{{@produit._id}}" type="checkbox" /></td> -->
        <!-- counter -->
        <td>{{ @i+((@pos-1)*@limit) }}</td>
        <!-- Référence -->
        <td class="h-full">
          <div class="flex items-center justify-start gap-2 h-full">
            <span style="background-color: {{@produit.reference_couleur}}" class="w-4 h-6 rounded-sm"></span>
            <span>{{@produit.reference}}</span>
          </div>
        </td>

        <!-- Type -->
        <td>{{@produit.type}}</td>

        <!-- Numéro -->
        <td>
          <check if="{{@produit.numero}}">
            <!-- Fallback Numéro  absent-->
            <true> {{@produit.numero}} </true>
            <false><span class="italic">NC</span></false>
          </check>
        </td>

        <!-- Semaine  -->
        <td>{{@produit.semaine}}</td>

        <!-- Engagement  -->
        <td>
          <span
            class="badge badge-outline badge-sm text-sm font-medium 
                      {{ 
                        (@produit.status=='Fait' ? 'badge-success' : 
                        (@produit.status=='Engagé' ? 'badge-warming' : 
                        (@produit.status=='Prévisionnel' ? 'badge-info' : 
                        'badge-error' )))
                      }}"
          >
            {{@produit.status}}
          </span>
        </td>

        <!-- Machine prête  -->
        <td class="text-xl">
          <check if="{{@produit.prete}}">
            <true><i class="fa-solid fa-check text-success"></i></true>
            <false>
              <check if="{{@produit.status!=='Engagé'}}">
                <true><i class="fas fa-xmark text-error"></i></true>
                <false><i class="far fa-hourglass-half text-info"></i></false>
              </check>
            </false>
          </check>
        </td>

        <!-- Menu action individuel  -->
        <td>
            <include href="kpi-dashboard/partials/planning-table/_planning_menu_individuel.html" />
        </td>
      </tr>
    </repeat>
    <!-- Fin : Création des lignes  -->
